@using HotelManagement.Entities
@model HotelManagement.ViewModels.AccommodationPackageDetailsViewModel

@if (Model != null && Model.AccommodationPackage != null)
{
    var thumbnailPicture = Model.AccommodationPackage.AccommodationPackagePictures != null && Model.AccommodationPackage.AccommodationPackagePictures.Count() > 0 ? Model.AccommodationPackage.AccommodationPackagePictures.First() : new AccommodationPackagePicture();

    var thumbnailUrl = thumbnailPicture.Picture != null ? thumbnailPicture.Picture.Url : "default-image.jpg";


    <aside id="colorlib-hero">
        <div class="flexslider">
            <ul class="slides">
                <li style="background-image: url(/images/site/@thumbnailUrl);">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                                <div class="slider-text-inner slider-text-inner2 text-center">
                                    <h2>
                                        @Model.AccommodationPackage.AccommodationType.Name
                                    </h2>
                                    <h1>
                                        @Model.AccommodationPackage.Name
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </aside>
    <div id="colorlib-amenities">
        <div class="container">
            <div class="row">
                <div class="amenities-flex">
                    <div class="desc animate-box">
                        <p class="price">
                            <span class="currency">
                                $
                            </span>
                            <span class="price-room">
                                @Model.AccommodationPackage.FeePerNight
                            </span>
                            <span class="per">/ per night</span>
                        </p>
                        <p>
                            <strong>
                                @Model.AccommodationPackage.NoOfRoom Rooms
                            </strong>
                        </p>
                        <p>
                            @Model.AccommodationPackage.AccommodationType.Description
                        </p>
                    </div>
                </div>

                @if (Model.AccommodationPackage.AccommodationPackagePictures != null && Model.AccommodationPackage.AccommodationPackagePictures.Count() > 0)
                {
                    foreach (var accommodationPackagePicture in Model.AccommodationPackage.AccommodationPackagePictures)
                    {
                        var imageUrl = accommodationPackagePicture.Picture != null ? accommodationPackagePicture.Picture.Url : "default-image.jpg";

                        <div class="amenities-img animate-box fadeInUp animated-fast" style="height: 400px; background-image: url(/images/site/@imageUrl);">

                        </div>
                    }
                }

            </div>
        </div>
    </div>
}
<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 animate-box">
                <h3>Confirm Booking</h3>
            </div>
            <div class="col-md-10 col-md-offset-1 animate-box">
                <h3>Get In Touch</h3>
                <form action="#" id="frmConfirmBooking">
                    <input type="hidden" name="AccommodationPackageID" value="@Model.AccommodationPackage.ID" />
                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="FromDate">Check In Date</label>
                            <input type="text" id="FromDate" name="FromDate" class="form-control" placeholder="Check In Date" autocomplete="off">
                        </div>
                        <div class="col-md-6">
                            <label for="Duration">Duration of Stay Nights</label>
                            <select id="Duration" name="Duration" class="form-control" placeholder="Duration of Stay Nights">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="NoOfAdults">No of Adults</label>
                            <input type="number" id="NoOfAdults" name="NoOfAdults" class="form-control" value="1" min="1" max="10">
                        </div>
                        <div class="col-md-6">
                            <label for="NoOfChildren">No of Children</label>
                            <input type="number" id="NoOfChildren" name="NoOfChildren" class="form-control" value="0" min="0" max="10">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="Name">Guest Name</label>
                            <input type="text" id="Name" name="Name" class="form-control" placeholder="Guest Name">
                        </div>
                        <div class="col-md-6">
                            <label for="Email">Email</label>
                            <input type="text" id="Email" name="Email" class="form-control" placeholder="Your email address">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="Notes">Add Special Notes</label>
                            <textarea name="Notes" id="Notes" cols="30" rows="10" class="form-control" placeholder="Add Special Notes"></textarea>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" id="btnCheckAvailability" value="Check Availability" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#FromDate').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '+3d'
    });

    $('#btnCheckAvailability').click(function () {
        $.ajax({
            url: '@Url.Action("CheckAvailability", "Accommodations")'
            data: $("#frmConfirmBooking").serialize()
        })
        .done(function(response) {
            $("#actionModal .modal-dialog").html(response);
        });
    });
</script>